<div class="modal window-message window-confirm fade" id="adminModal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
        <h3 class="modal-title">Admin Login</h3>
      </div>
      <form action="" method="post" id="adminLoginForm">
        <div class="modal-body">
          <input type="password" 
                 id="password_admin"
                 class="form-control"
                 required="required"
                 placeholder="Enter your password" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" id="" class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>