<div class="hidden">
	
<script class="empty-delivery-message" type="text/x-handlebars-template" lang="en">
	<p>You need to empty the delivery before deleting it!</p>
</script>

<script class="empty-delivery-message" type="text/x-handlebars-template" lang="fr">
	<p>Vous devez vider la livraison afin de pouvoir la supprimer!</p>
</script>



<script class="confirm-delete-delivery-message" type="text/x-handlebars-template" lang="en">
	<p>Are you sure you want to delete this delivery?</p>
</script>

<script class="confirm-delete-delivery-message" type="text/x-handlebars-template" lang="fr">
	<p>Etes-vous certain de vouloir supprimer cette livraison?</p>
</script>




<script class="spot-taken-message" type="text/x-handlebars-template" lang="en">
	<p>Spot <b>{{spot}}</b> is already taken by railcar <b>{{railcar}}</b>
</script>

<script class="spot-taken-message" type="text/x-handlebars-template" lang="fr">
	<p>L&apos;emplacement <b>{{spot}}</b> est déjà occupé par le wagon <b>{{railcar}}</b>
</script>




<script class="railcar-not-found-message" type="text/x-handlebars-template" lang="en">
	<p>CN Railcar <b>{{railcar}}</b> is not found.</p>
	<p>If you are convince that this is the right railcar, <a href="javascript:;" data-spot="{{spot}}" data-number="{{railcar}}" id="AdminLink">click here.</a>
</script>

<script class="railcar-not-found-message" type="text/x-handlebars-template" lang="fr">
	<p>Le wagon du CN <b>{{railcar}}</b> est introuvable.</p>
	<p>Si vous êtes convaincu qu&apos;il s&apos;agit bien du bon wagon, <a href="javascript:;" data-spot="{{spot}}" data-number="{{railcar}}" id="AdminLink">cliquer ici.</a>
</script>




<script class="railcar-already-used-message" type="text/x-handlebars-template" lang="en">
	<p>Railcar <b>{{railcar}}</b> is already used in an <a href="/delivery/station/{{delivery}}">active delivery {{delivery}}</a> at spot <b>{{spot}}</b></p>
</script>

<script class="railcar-already-used-message" type="text/x-handlebars-template" lang="fr">
	<p>Le wagon <b>{{railcar}}</b> est déjà utilisé dans la <a href="/delivery/station/{{delivery}}">livraison active {{delivery}}</a> à l&apos;emplacement <b>{{spot}}</b></p>
</script>



<script class="archive-railcar-already-used" type="text/x-handlebars-template" lang="en">
	<p>Railcar <b>{{railcar}}</b> is already used in an <a href="/delivery/station/{{delivery}}"> archvive delivery {{delivery}}</a> at spot <b>{{spot}}</b>. Verify that the Bill Of Lading <b>{{billOfLading}}</b> is the same. If yes, you can add the railcar in this delivery.</p>
</script>

<script class="archive-railcar-already-used" type="text/x-handlebars-template" lang="fr">
	<p>Le wagon <b>{{railcar}}</b> est déjà utilisé dans la <a href="/delivery/station/{{delivery}}">livraison archvivée {{delivery}}</a> à l&apos;emplacement <b>{{spot}}</b>. Vérifier que le Billet de Transfer <b>{{billOfLading}}</b> est bien le même. Si oui, vous pouvez ajouter le wagon dans cette livraison.</p>
</script>





<script class="defective-railcar-message" type="text/x-handlebars-template" lang="en">
	<p>The railcar <b>{{railcar}}</b> is already used in <a href="/delivery/station/{{delivery}}">delivery {{delivery}}</a>, but it is mark as DEFECTIVE. Do you still want to add it to this delivery ? If this is not a mistake, do not remove the defective railcar from the other delivery.</p>
	</script>

<script class="defective-railcar-message" type="text/x-handlebars-template" lang="fr">
	<p>Le wagon <b>{{railcar}}</b> est déjà dans la <a href="/delivery/station/{{delivery}}">livraison {{delivery}}</a>, mais il est marqué comme étant DÉFECTUEUX. Souhaitez vous toujours le rajouter à cette livraison? Si celà n&apos;est pas une erreur n&apos;enlever pas le wagon défecteux de l&apos;autre livraison.</p>
</script>





<script class="add-railcar-growl" type="text/x-handlebars-template" lang="en">
	<span style="padding: 20px">Railcar <b>{{railcar}}</b> added to delivery at spot <b>{{spot}}</b></span>
</script>

<script class="add-railcar-growl" type="text/x-handlebars-template" lang="fr">
	<span style="padding: 20px">Wagon <b>{{railcar}}</b> ajouté à la livraison à l&apos;emplacement <b>{{spot}}</b></span>
</script>




<script class="remove-railcar-growl" type="text/x-handlebars-template" lang="en">
	<span style="padding: 20px">Railcar remove from delivery</span>
</script>

<script class="remove-railcar-growl" type="text/x-handlebars-template" lang="fr">
	<span style="padding: 20px">Wagon supprimé de la livraison</span>
</script>








<script class="report-completed-message" type="text/x-handlebars-template" lang="en">
	<p>This report is already complete, are you sure you want to compile it again?</p>
</script>

<script class="report-completed-message" type="text/x-handlebars-template" lang="fr">
	<p>Ce rapport est déjà complet, souhaitez le compiler à nouveau?</p>
</script>





<script class="report-print-incomlete" type="text/x-handlebars-template" lang="en">
	<p>You need to complete the report before you can print it!</p>
</script>

<script class="report-print-incomlete" type="text/x-handlebars-template" lang="fr">
	<p>Vous devez completez le rapport avant de pouvoir l&apos;imprimer!</p>
</script>



<script class="confirm-archive-delivery-message" type="text/x-handlebars-template" lang="en">
	<p>Are you sure you want to archive this delivery?</p>
</script>

<script class="confirm-archive-delivery-message" type="text/x-handlebars-template" lang="fr">
	<p>Êtes-vous certain de vouloir archiver cette livraison?</p>
</script>





<script class="cannot-archive-message" type="text/x-handlebars-template" lang="en">
	<p>All <a href="/delivery/tasks/{{delivery}}">tasks</a> need to be completed is you want to archive the delivery</p>
	<table class="table">
		<tr>
			<td>Transfer</td>
			<td>{{transfer}}</td>
		</tr>
		<tr>
			<td>Inspection</td>
			<td>{{inspection}}</td>
		</tr>
		<tr>
			<td>Seal</td>
			<td>{{seal}}</td>
		</tr>
		<tr>
			<td>Offload</td>
			<td>{{offload}}</td>
		</tr>
		<tr>
			<td>Mesure</td>
			<td>{{mesure}}</td>
		</tr>
	</table>
</script>

<script class="cannot-archive-message" type="text/x-handlebars-template" lang="fr">
	<p>Vous devez completer tout les <a href="/delivery/tasks/{{delivery}}">tâches</a> avant de pouvoir archiver la livraison.</p>
	<table class="table">
		<tr>
			<td>Transfer</td>
			<td>{{transfer}}</td>
		</tr>
		<tr>
			<td>Inspection</td>
			<td>{{inspection}}</td>
		</tr>
		<tr>
			<td>Seal</td>
			<td>{{seal}}</td>
		</tr>
		<tr>
			<td>Offload</td>
			<td>{{offload}}</td>
		</tr>
		<tr>
			<td>Mesure</td>
			<td>{{mesure}}</td>
		</tr>
	</table>
</script>









<script class="confirm-archives-delete-delivery-message" type="text/x-handlebars-template" lang="en">
	<p>Are you sure you want to archive this delivery? All reports link to this delivery will also be deleted.</p>
</script>

<script class="confirm-archives-delete-delivery-message" type="text/x-handlebars-template" lang="fr">
	<p>Êtes-vous certain de vouloir archiver cette livraison? Tous les rapports reliés à cette livraison seront aussi supprimés.</p>
</script>



<script class="admin-query-confirm" type="text/x-handlebars-template" lang="en">
	<p>Are you sure you want to <b>{{query}}</b>?
</script>

<script class="admin-query-confirm" type="text/x-handlebars-template" lang="fr">
	<p>Êtes-vous certain de vouloir <b>{{query}}</b>?
</script>












</div>
