<div class="modal window-message window-prompt fade" id="prompt" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title"><%= __('Prompt') %></h3>
      </div>
      <div class="modal-body">
        <p id="promptMessage">Content placeholder of the alert message</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="promptCloseButton" data-dismiss="modal"><%= __('Cancel') %></button>
        <button type="button" class="btn btn-primary" id="promptConfirmButton"><%= __('Confirm') %></button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->