<div class="modal fade" id="ModalWagonAdd">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title spot-title"></h4>
      </div>
      <form action="" method="" data-parsley-validate="" id="RailcarFormAdd" autocomplete="off">
	      <div class="modal-body">
	      	<h4>Entrez le numéro de wagon que vous cherchez.</h4>
	      	<input type="hidden" name="spot" />
	        <input type="text" 
	        			 name="number"
	        			 class="typeahead form-control" 
	        			 id="filterInput" 
	        			 required="required"
	        			 autocomplete="off"
	        			 data-parsley-minlength="10"
	        			 data-parsley-maxlength="10"
	        			 placeholder="<%= __('Delivery.FilterInput.placeholder') %>" />
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal"><%= __('Delivery.Modal.Close') %></button>
	        <button type="submit" id="addCarBtn" class="btn btn-primary"><%= __('Delivery.Modal.AddCar') %></button>
	      </div>
	    </form>
    </div>
  </div>
</div>