body {
  padding-top: 50px;
}


input {

}

#timepicker {
  color: black !important;
}

h1 {
  /*text-align: center;*/
  padding-bottom: 20px;
  font-size: 20px;
  /*font-weight: bolder;*/
}


html, body {
  height: 100%;
}
#wrap {
  max-height: 300px !important;


}
/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}

#footer {
  margin-top: 20px;
  border-top: 1px solid #f5f5f5;
  padding: 5px;
  background-color: white;
}



#footer p {
  margin-bottom: 0px;
  font-size: 11px;
}



#mainNav {
  background-color: white;
  border-bottom: 1px solid grey
}



.modal-header, .modal-footer {
  background: url("/images/home-slant-pattern-50.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.modal-backdrop.in {
  opacity: 0.95 !important;
}

.fourohfour {
  margin-top: 50px;
}


a, .btn-link {
  color: #666 !important;
}

a:hover, .btn-link:hover {
  color: #e51400 !important;
}



.blockUI {
  z-index: 9999 !important;
}





#statusLi {
  width: 180px !important;
  min-width: 180px !important;
  max-width: 180px !important;
}


.navbar .divider-vertical {
  height: 50px;
  margin: 0 9px;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #000;
}

.navbar-inverse .divider-vertical {
  border-right-color: #222222;
  border-left-color: #111111;
}




a[disabled] {
  pointer-events: none;
  color: light-grey;
}










/* Fifteen Column */
@media (min-width: 768px){
  .fifteen-cols .col-md-1,
  .fifteen-cols .col-sm-1,
  .fifteen-cols .col-lg-1  {
    width: 6.666666666666666666666667%;
    *width: 6.666666666666666666666667%;
  }
}

@media (min-width: 992px) {
  .fifteen-cols .col-md-1,
  .fifteen-cols .col-sm-1,
  .fifteen-cols .col-lg-1 {
    width: 6.666666666666666666666667%;
    *width: 6.666666666666666666666667%;
  }
}

    
@media (min-width: 1200px) {
  .fifteen-cols .col-md-1,
  .fifteen-cols .col-sm-1,
  .fifteen-cols .col-lg-1 {
    width: 6.666666666666666666666667%;
    *width: 6.666666666666666666666667%;
  }
}






/* OTHER */

@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
.navbar-collapse .nav > .divider-vertical {
    display: none;
  }
}







#archiveTitle {
  padding: 0px;
  padding: 10px;
  margin: 0px;
  border: 1px solid #A12700;
  position: absolute;
  font-size: 50px;
  font-weight: bold;
  color: white;
  font-family: "Courier New", Courier, monospace;
  top: 65px;
  right: 200px;
  text-align: center;
/*   -ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
*/  z-index: 1000;
    box-shadow: 10px 10px 5px #888888;
    background: #A12700;
    border-radius: 10px;
  }








#filterInput {
  margin-top: 15px;
}




#deliveryList {
  margin: 25px;
  font-size: 20px;

  /*background-color: rgba(182, 182, 182, 0.7);*/
}


#deliveryList a.active {
  color: green !important;
}

#deliveryList a.active:hover {
  color: #e51400 !important

}





 .btn {

  /*background-color: rgba(182, 182, 182, 0.7);*/
  background-image: none;
  background-repeat: no-repeat;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
  box-shadow: none;
  color: white;
  filter: none;
  font-weight: bold;
  text-shadow: none;
  min-width: 120px;
}

 .btn-default {
 background-color: rgba(182, 182, 182, 0.7);
 color: black;
 
}
 .btn:hover, .btn:focus  {
  color: black;
}
 .btn-default:hover, .btn-default:focus  {
  background-color: #e6e6e6;
}





.btn-primary {
  background-color: #59008c;
  background-image: none;
  background-repeat: no-repeat;
  border-color: grey;
  /*color: #fff;*/
  filter: none;  
}

.btn-primary:hover {
  background-color: #781096;
  /*border-color: #781096;*/
}




#ModalMesureReport {
  top: 0px !important;
}



#ModalMesureReport select {
  color: black !important;
}

#ModalMesureReport .mesure-row {
  border-bottom: 1px solid grey;  
  min-height: 35px;
  max-height: 35px;
}




#archiveLink {
  color: white !important;
  height: 50px;
  line-height: 32px;
  font-size: 20px;
}












