body {
  padding-top: 50px;
}


input {

}

h1 {
  /*text-align: center;*/
  padding-bottom: 60px;
  font-size: 20px;
  /*font-weight: bolder;*/
}


html, body {
  height: 100%;
}
#wrap {
  max-height: 300px !important;


}
/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}

#footer {
  margin-top: 20px;
  border-top: 1px solid #f5f5f5;
  padding: 5px;
  background-color: white;
}



#footer p {
  margin-bottom: 0px;
  font-size: 11px;
}



#mainNav {
  background-color: white;
  border-bottom: 1px solid grey
}



.modal-header, .modal-footer {
  background: url("/images/home-slant-pattern-50.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.modal-backdrop.in {
  opacity: 0.95 !important;
}

.fourohfour {
  margin-top: 50px;
}


a, .btn-link {
  color: #666 !important;
}

a:hover, .btn-link:hover {
  color: #e51400 !important;
}



.blockUI {
  z-index: 9999 !important;
}





#statusLi {
  width: 180px !important;
  min-width: 180px !important;
  max-width: 180px !important;
}


.navbar .divider-vertical {
  height: 50px;
  margin: 0 9px;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #000;
}

.navbar-inverse .divider-vertical {
  border-right-color: #222222;
  border-left-color: #111111;
}




a[disabled] {
  pointer-events: none;
  color: light-grey;
}










/* Fifteen Column */
@media (min-width: 768px){
  .fifteen-cols .col-md-1,
  .fifteen-cols .col-sm-1,
  .fifteen-cols .col-lg-1  {
    width: 6.666666666666666666666667%;
    *width: 6.666666666666666666666667%;
  }
}

@media (min-width: 992px) {
  .fifteen-cols .col-md-1,
  .fifteen-cols .col-sm-1,
  .fifteen-cols .col-lg-1 {
    width: 6.666666666666666666666667%;
    *width: 6.666666666666666666666667%;
  }
}

    
@media (min-width: 1200px) {
  .fifteen-cols .col-md-1,
  .fifteen-cols .col-sm-1,
  .fifteen-cols .col-lg-1 {
    width: 6.666666666666666666666667%;
    *width: 6.666666666666666666666667%;
  }
}






/* OTHER */

@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
.navbar-collapse .nav > .divider-vertical {
    display: none;
  }
}







#archiveTitle {
  padding: 0px;
  padding: 10px;
  margin: 0px;
  border: 1px solid #A12700;
  position: absolute;
  font-size: 50px;
  font-weight: bold;
  color: white;
  font-family: "Courier New", Courier, monospace;
  top: 65px;
  right: 200px;
  text-align: center;
/*   -ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
*/  z-index: 1000;
    box-shadow: 10px 10px 5px #888888;
    background: #A12700;
    border-radius: 10px;
  }


































