<div class="container">
	<div class="row">


		<div class="col-md-3">

			<h4>General</h4>
			<ul class="nav nav-stacked">
				<li>
					<a href="javascript:;" class="admin" data-query="SELECT * FROM information_schema.tables">show database tables</a>
				</li>
			</ul>

		</div>

		<div class="col-md-3">
			<h4>Deliveries</h4>
			<ul class="nav nav-stacked">
				<li>
					<a href="javascript:;" class="admin" data-query="SELECT * FROM dev_CarsAtStation WHERE isProcessed=1">select cars from deliveries</a>
				</li>
				<li>
					<a href="javascript:;" class="admin execute" data-query="DELETE FROM dev_Delivery">delete deliveries</a>
				</li>
			</ul>

		</div>


		<div class="col-md-3">
			<h4>Archives</h4>
			<ul class="nav nav-stacked">
				<li>
					<a href="javascript:;" class="admin execute" data-query="DELETE FROM ArchiveDelivery">delete archive deliveries</a>
				</li>
				<li>
					<a href="javascript:;" class="admin execute" data-query="DELETE FROM ArchiveDelivery">delete archive railcars</a>
				</li>
			</ul>
		</div>

		<div class="col-md-3">

			<h4>Cars at station</h4>
			<ul class="nav nav-stacked">
				<li>
					<a href="javascript:;" class="admin" data-query="SELECT * FROM dev_CarsAtStation">select all cars</a>
				</li>
				<li>
					<a href="javascript:;" class="admin execute" data-query="UPDATE dev_CarsAtStation SET delivery='', isProcessed=0">unprocess all cars</a>
				</li>
				<li>
					<a href="javascript:;" class="admin execute" data-query="DELETE FROM dev_CarsAtStation">delete all cars at station</a>
				</li>
			</ul>

		</div>




	</div>


	<div class="row">
		<div class="col-sm-12">
			<br/>
			<pre id="log"></pre>
		</div>
	</div>

</div>


<script type="text/javascript">
window.addEventListener('load', function () {

	var $log = $('#log');

	$('.admin').on('click', function (e) {
		e.preventDefault();
		var query = $(this).attr('data-query');

		if ($(this).hasClass('execute')) {
			var password = window.prompt('Enter your admin password.');
		}

		if (!password || password == 'admin') {
			socket.post('/admin/query', { query: query }, function (message) {
				if (message !== null && message.code) {
					return $log.html(syntaxHighlight(message));
				}
				if (message == null) {
					return $log.html('query executed');
				}
				$log.html(syntaxHighlight(message));
			});
		} else {
			window.alert('wrong password');
		}

	})


	// $('#adminQueryForm').on('submit', function (e) {
	// 	e.preventDefault();
	// 	var query = $(this).find('input[name="query"]').val();
	// 	socket.post('/admin/query', { query: query }, function (message) {
	// 		console.log(message);
	// 	})
	// })




})
</script>