
<div class="container">
	<h1>Centre d'aide</h1>	

	<div class="row">

		<div class="col-12-sm">
			<h3 class="text-info">Le système ne semble plus répondre à mes commandes.</h3>
			<div class="well">
				<p>Il se peut que votre page se soit déconnecté.</p>
				<ol>
					<li>Tenter de rafraichir la page. <b>Appuyer sur <i>F5</i></b> </li>
					<li>Tenter de fermer et ré-ouvrir votre navigateur web.</li>
				</ol>
			</div>			
		</div>		
	
		<div class="col-12-sm">
			<h3 class="text-info">Pourquoi je ne peux pas supprimer une livraison ?</h3>
			<div class="well">
				<p>Il est très rare que l'on doive supprimer une livraison, peut-être souhaitez vous plutôt faire une archive ? La suppression est une option dans le cas échéant ou vous avez créer une livraison par erreur et souhaitez vous en débarrasser. Si tel est le cas: </p>
				 <ol>
				 	<li>Entrez dans la livraison en question.</li>
				 	<li>Enlevez tout les wagons présents dans la livraison.</li>
				 	<li>Retourner aux tableaux des livraisons. <b>Appuyer sur <i>Arrêter</i></b></li>
				 	<li>Dans le tableau de gestion des livraisons, au niveau de la livraison en question. <b>Appuyer sur <i>Actions</i> > <i>Supprimer</i></b></li>
				 </ol>
			</div>			
		</div>		
	
		<div class="col-12-sm">
			<h3 class="text-info">Il me manque des feuilles et/ou les données ne semblent pas exactes suite à l'impression.</h3>
			<div class="well">
				<p>Les fonctions d'impressions peuvent causer des erreurs si plusieurs personnes impriment en même temps à l'aide du logiciel ou lorsqu'il y a des problèmes de réseaux. La meilleur solution est de re-tenter l'impression.</p>
			</div>			
		</div>		
	

	

	</div>

</div>
