<div class="container">

	<div class="row">
		<div class="col-md-12">

			<div id="menu" class="square">
				<ul>
					<li>
						<a href="/archives/search">
							<i class="glyphicon glyphicon-search"></i>
							<h4><%= __('Archives.Search') %></h4>
						</a>
					</li>
					<li>
						<a href="/archives/delivery">
							<i class="glyphicon glyphicon-list-alt"></i>
							<h4><%= __('Archives.Deliveries') %></h4>
						</a>
					</li>
				</ul>
			</div>

		</div>
	</div>

</div>